body {
    width: 100%;
    font-family: 'Abel', sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    margin-top: 0;
  }

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainleft {
    width: 40%;
    height: fit-content;
    color: #ffffff;
}

li {
    margin: 0;
    padding: 0;  
    display: flex;
    align-items: center;
    justify-content: center;  
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.top {
    width: 100%;
    height: 60px;
    background-color: #1E1F25;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.aVector {
    margin-left: 5px;
}

.burger {
    width: 0;
    height: 0;
    display: none;
    background-image: url(burger.png);
    overflow: hidden;
}

.button {
    background-color: #3C41DD;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.toplogo {
    display: block;
    background-image: url(logo.png);
    width: 120px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

@media (max-width: 800px) {
    ul li {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .burger {
        height: 50px;
        width: 50px;
        display: inline-block;
        background-image: url(burger.png);
        background-size: contain;
        background-position: center;
        filter: invert(1);
    }
    .button {
        width: 0;
        height: 0;
        display: none;
        overflow: hidden;
    }
    .butcontainer {
        flex-direction: column;
    }
}

.mainblock1 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.laptop {
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 14px;
    margin: 0;
}

.buttoncool {
    background-color: #3C41DD;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

.butcontainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
}

.butcontainer1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 20px;
}

@media (max-width: 800px) {
    .mainblock1 {
        flex-direction: column;
    }
    .mainleft {
        width: 100%;
    }
    .laptop {
        width: 80%;
    }
    .butcontainer {
        flex-direction: row;
    }
    .mini {
        grid-column: span 2;
    }
}

.mini1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}

.updown {
    width: 12px;
    height: 12px;
    background-size: contain;
}

.mini {
    width: auto;
    height: fit-content;
    background-color: black;
    color: #ffffff;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.minisyki {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    row-gap: 5px;
    column-gap: 8px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.interests {
    display: block;
}

@media (max-width: 1030px) {
    .minisyki {
        grid-template-columns: repeat(6,1fr);
    }
    .n7, .n8 {
        grid-column: span 3;
    }
}

@media (max-width: 800px) {
    .minisyki {
        grid-template-columns: repeat(6,1fr);
    }
    .mini {
        grid-column: span 3;
    }
    .n7, .n8 {
        grid-column: span 3;
    }
}

@media (max-width: 630px) {
    .minisyki {
        display: flex;
        flex-direction: column;
    }
    .mini {
        height: 50px;
    }
    .mini1 {
        justify-content: center;
        gap: 10px;
    }
}